header{
    background-image: url("https://img.freepik.com/photos-premium/agitant-drapeau-tunisie-drapeau-vraie-texture-tissu_158023-1158.jpg?w=2000");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-color: black;
    border: 20px solid;

}
header h1 {
    font-size: 50px;
    margin: 0px;
}
body{
    background-color:darkblue;
}
img {
    border: 10px solid black;
    width: 300px;
    height: 350px;
    border-radius: 300px;
}
a{
    color: black;
    font-size: 25px;
}
#ft{
    border: 3px solid black;
    padding: 30px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color:orange;
    background-color: whitesmoke;
}
.title{
    border: 3px dashed black;
    border-radius: 25px;
    padding: 25px;
    color:yellow;
}
table{
    width: 100%;
    font-size: 25px;
    color:aqua;

}

button{
    background-color: orangered;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 70px;

}
button a:link{
color :white;
background-color: orangered;
border: 60px;
border-radius: 60px;
}
button a:active{
    color: red;
    background-color: aqua;
}
button a:visited{
color:black;
background-color:;
}
button a:hover{
color:blue;
background-color: red;
}
